<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>Create Your Account | DODOFILES</title>
  </head>
  <body class="bg-white">
    <div class="container md:mx-auto md:flex flex-col mt-8 md:mt-44 justify-center items-center">
      <h1 class="text-black text-center mb-4 font-bold">DODOFILES</h1>
      <div class="bg-gray-300 px-4 py-8 md:px-8 md:py-12 rounded-md shadow-xl w-full md:w-1/2 mx-auto items-center justify-center">
        <h1 class="text-black text-center font-bold">Create Your Account</h1>
        <form class="md:flex flex-col" action="/register" method="post">
          <div class="md:flex flex-col mb-4">
            <label class="mb-1 font-medium" for="username" id="username">EMAIL</label>
            <input class="rounded-xl p-2" type="email" id="email" name="email" required />
          </div>
          <div class="md:flex flex-col mb-4">
            <label class="mb-1 font-medium" for="username" id="username">USERNAME</label>
            <input class="rounded-xl p-2" type="text" id="username" name="username" required />
          </div>
          <div class="md:flex flex-col mb-4">
            <label class="mb-1 font-medium" for="password" id="password">PASSWORD</label>
            <input class="rounded-xl p-2" type="password" id="password" name="password" required />
          </div>
          <div class="mx-auto text-center">
            <button class="bg-cyan-400 font-semibold text-center rounded-md w-full md:w-[8em] h-[2.5em] mb-4 shadow-sm hover:bg-cyan-500 text-white" type="submit">
              LOGIN
            </button>
          </div>
          <div class="text-center">
            <span>Already have an account? <br> <a class="text-blue-500 hover:text-blue-700" href="/login">Sign in here</a></span>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
