<div class="ml-48 flex items-center text-sm">
  <input type="text" name="" id="" class="w-[36rem] text-center rounded-3xl bg-[#0cbfdf25] p-3 focus:outline-none "
    placeholder="Searching for something?" />
</div>