<span class="text-center mb-4 font-bold ">Create a new folder</span>
<div id="tabs" class="md:flex flex-row mx-auto gap-12 border-b mb-4">
    <button hx-get="/fileTab" hx-target="#upload-modal" class="hover:bg-gray-300 rounded-md p-2">Upload file</button>
    <button hx-get="/folderTab" hx-target="#file-modal" class="hover:bg-gray-300 rounded-md">New folder</button>
</div>
<form id="uploadForm" hx-post="/createFolder" hx-encoding="multipart/form-data" hx-target="#content"
    class="flex flex-col gap-2 mt-2" onsubmit="closeModal()">
    <label for="folder-name">Folder name:</label>
    <input type="text" name="folder-name" id="folder-name" class="border-gray-400 border-2 p-2 rounded-md">
    <label for="folderparent" class="mb-2">Select one of your folders to be a parent of your new folder: </label>
    <select name="folderparent" id="folderparent" class="mb-8 border-2 rounded-md p-2 border-gray-500" required>
        <option value="" selected disabled hidden>Choose a folder...</option>
        <option value="null">Root</option>
        <% for( const row of folderList ) { %>
            <option value="<%= row.file_id %>">
                <%= row.file_name %>
            </option>
            <% } %>
    </select>
    <input type="submit"class="bg-gray-500 hover:bg-gray-700 cursor-pointer text-white font-bold py-2 px-4 rounded"/>
</form>