<% sharedUserLists.forEach(user=> { %>
  <div class="flex items-center justify-between p-2 border-b border-gray-300">
    <div class="md:flex flex-col">
      <span>
        <%= user.username %>
      </span>
      <span class="text-[#A2A6AD]">
        <%= user.email %>
      </span>
    </div>
    <div class="relative">
      <select
        class="hover:border-[#0CC0DF] hover:cursor-pointer hover:bg-slate-300 border-2 p-1 rounded-md text-gray-700">
        <option value="view" <%=user.permission==='view' ? 'selected' : '' %>>View</option>
        <option value="edit" <%=user.permission==='edit' ? 'selected' : '' %>>Edit</option>
      </select>
    </div>
  </div>
  <% }) %>