<div id="sidebar"
  class="md:flex flex-col align-baseline fixed -left-1 top-0 z-50 h-full w-52 rounded-md bg-white p-4 shadow-sm">
  <a href="/home">
    <span class="ml-3 text-lg font-semibold text-black">DODOFILES</span>
  </a>
  <button onclick="openModal()"
    class="bg-gray-500 rounded-full p-4 mx-auto text-white text-m font-semibold hover:bg-gray-700 mt-4">Upload a
    file</button>
  <div id="sidebar-items" class="md:flex flex-col justify-start mt-4">
    <a href="/home" hx-boost="true" class="ml-2 text-left p-2 w-3/4 hover:bg-gray-200 hover:rounded-md"><i
        class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a href="/bin" hx-boost="true" class="ml-2 text-left p-2 w-3/4 hover:bg-gray-200 hover:rounded-md"
      hx-target="#content"><i class="fa fa-trash" aria-hidden="true"></i> Recycle Bin</a>
    <a href="#" hx-boost="true" class="ml-2 text-left p-2 w-3/4 hover:bg-gray-200 hover:rounded-md"><i
        class="fa fa-users" aria-hidden="true"></i> Shared Files</a>
  </div>
</div>
