<div class="modal-content bg-white rounded-lg p-8 md:flex flex-col">
  <div id="file-modal">
    <span class="text-center text-[#0CC0DF] ml-2 mb-6 font-medium text-lg">Add a new file</span>
    <div id="tabs" class="md:flex flex-row mx-auto gap-12 items-center justify-center border-b mb-4">
      <button hx-get="/fileTab" hx-target="#file-modal" class="hover:bg-gray-300 rounded-md p-2 text-[#A2A6AD]">Upload file</button>
      <button hx-get="/folderTab" hx-target="#file-modal" class="hover:bg-gray-300 rounded-md text-[#A2A6AD]">New folder</button>
    </div>
    <form id="uploadForm" hx-post="/upload" hx-encoding="multipart/form-data" hx-target="#content"
      class="flex flex-col items-center gap-2 mt-2" onsubmit="closeModal()" hx-vals='{"folderId": "<%= folderId %>"}'>
      <input type="file" name="file" id="file" required class="ml-2 mb-4 text-[#A2A6AD]" />
      <div class="md:flex items-center justify-center">
        <input type="submit" value="Upload"
          class="bg-[#0CC0DF] hover:bg-[#36b3c9] cursor-pointer text-white font-light text-lg py-4 px-8  rounded" />
      </div>
    </form>
  </div>
</div>